	html,
	body,
	div,
	span,
	h4,
	p,
	a,
	img,
	strong,
	i {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}


	body {
		line-height: 1;
	}


	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		direction: rtl;
	}

	body {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #262626;
		line-height: 1.3;
	}

	.img-responsive {
		margin: 0 auto;
		display: block;
		height: auto;
		max-width: 100%;
	}
	.logo a{
		width: 50px;
		height: 40px;
	}
	.logo img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	header{
		background-color: #a32459;
	}
	/* COMMENTS */

	.comment-area {
		margin-top: 10px;
		position: relative;
		z-index: 610;
		font-size: 14px !important;
		font-size: 0.95em;
		text-align: right;
		font-family: 'Myriad Pro', sans-serif;background:#fff;
	}

	.action .active-like {
		background-image: url("../images/like-active.png") !important;
		color: #5890ff;
	}

	.action {
		border-top: 1px solid #e6e6e6;
		background: #fff;
		padding: 5px 10px;
	}

	.action a {
		display: inline-block;
		padding-left: 20px;
		text-decoration: none;
		color: #6d6d6d;
		margin-right: 15px;
	}

	.action .like {
		background: url(../images/like.png) no-repeat left center;
	}

	.action .bubble {
		background: url(../images/bubble.png) no-repeat left center;
	}

	.action .share-btn {
		background: url(../images/share.png) no-repeat left center;
	}

	.tot-likes {
		padding: 0 10px;
	}

	.tot-likes > p {
		line-height: 20px;
		padding: 5px 0;
		color: #3f5199;
		border-bottom: 1px solid #e1e3e4;
	}

	.like-imgs {
		padding: 10px 0 5px;
		max-height: 47px;
		overflow: hidden;
	}

	.like-imgs > div {
		display: inline-block;
		margin-right: 5px;
		position: relative;
		margin-bottom: 5px;
	}

	.like-imgs > div img {
		display: block;
	}

	.like-imgs > div .reaction-img {
		position: absolute;
		bottom: -5px;
		right: -5px;
		z-index: 10;
	}

	.you {
		display: none;
	}

	.comment {
		position: relative;
		padding: 10px 10px 10px 70px;
		min-height: 70px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.profile {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.name {
		font-weight: 700;
		text-decoration: none;
		color: #3f5199;
		margin-left: 5px;
	}

	.com-txt {
		margin-bottom: 10px;
		margin-right: 65px;
		font-weight: 500;
		font-size: 17px;
	}

	.act {
		margin-right: 65px;
	}

	.act a {
		color: #5890ff;
		text-decoration: none;
	}

	.liked {

		padding-right: 16px;
		line-height: 16px;
		color: #8d9098;
		font-weight: 300;
		padding-left: 5px
	}

	.liked:after {
		content: '';
	}

	#Welcome {
		color: darkred;
		font-size: 35px;
	}

	.time {
		color: #8d9098;
		font-weight: 300;
	}

	.comment .comment {
		padding-left: 0;
		margin-right: 50px;
	}

	.comment .comment .profile {
		right: 0 !important;
		width: 40px !important;
		height: 40px !important;
	}

	.addComment {
		position: relative;
		padding: 10px 10px 10px 70px;
		height: 70px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.addComment img {
		position: absolute;
		right: 10px;
		top: 8px;
	}

	.addComment input {
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border: 1px solid #e0e0e0;
		line-height: 48px;
		width: 100%;
		display: block;
		outline: 0;
		padding: 0 50px 0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}

	.hider,
	.likehide,
	#myCom {
		display: none;
	}

	body {
		background-color: #fff;
		color: #4a4a4a;
		font-family: Asap;
	}

	.txt01 {
		color: #a32459;
		font-size: 1.0em;
		font-family: Asap;
	}



	.button {
		background-color: #a32459;
		color: #fff;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		margin-top: 5px;
		cursor: pointer
	}

	.button:hover {
		opacity: 0.9
	}

	.button2 {
		background-color: #009846;
		color: #fff;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		margin-top: 10px;
	}

	a {
		color: #fff;
	}

	.col-xs-12 {
		margin: 0px;
		padding: 0px;
	}

	div.footer {
		background-color: #fff;
		color: #333;
		display: none;
	}

	.hr01 {
		color: none;
		border: 0px;
		border-top: solid 1px #846061;
		border-bottom: 0px;
		font-size: 0px;
	}

	.gutschein {
		background-color: #a32459;
		border-radius: 10px;
		padding: 10px;
		font-weight: bold;
		color: #ffffff;
		font-size: 1.0em;
		margin-top: 2px;
		text-align: center;
	}

	.frage {
		text-align: center;
		margin-top: 15px;
		font-weight: bold;
		font-size: 1.5em;
		color: hsl(9, 63%, 58%)
	}

	.wrapper_02 {
		padding-left: 5px;
		padding-right: 5px;
	}


	div.footer {
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.for {
		border-bottom-width: 2px;
		border-left-width: 2px;
		border-right-width: 2px;
		border-top-width: 2px;
		font-size: 20;
		height: 42px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-top: 0px;
		width: 252px !important;
		border: 3px solid #ced4da;
		border-radius: 11px;
		display: block;
		margin-bottom: 10px;
		text-align: center;
	}

	.for:focus {
		outline: 0;
	}